
:root {
--color-boton-editar: #2980B9;
--color-boton-editar-hover: #20638f;
}
.main {
    text-align: left;
    direction: ltr;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-color: #e9e9e9;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    -webkit-text-size-adjust: none;
    min-height: 657px;
    background-color: #cccccc;
    padding-top: 20px;
    height: 100vh;
    padding: 20px;
}

.page {
    max-width: 400px;
    margin: auto;
    /* border-radius: 4px; */
    background-color: white;
    /* padding: 5px; */
}

.sistema {
    background-color: #DC7633;
    color: white;
    font-size: 26px;
    /* font-weight: bold; */
    margin: auto;
    text-align: center;
    height: 85px;
    padding-top: 35px;
}

.institucion {
    margin: 1rem;
}

.titulo {
    text-align: center;
    font-style: bold;
    color: orangered;
    margin: 0.1rem;
}

.titulo1 {
    text-align: center;
    color: rgb(221, 81, 81);
    font-size: 12px;
    font-family: Verdana;
    margin: 0 !important;
}

.titulo2 {
    text-align: center;
    color: rgb(221, 81, 81);
    font-style: bold;
    font-size: 15px;
    font-family: Verdana;
}
.botonModal {
    height: auto;
    display: flex;
    justify-content: right;
}


.btn-iniciar {
    border-radius: 0px !important;
    background-color: var(--color-boton-editar);
    padding-top: 3px;
    height: 32px !important;
}
.btn-iniciar:hover {
    background: var(--color-boton-editar-hover);
    transition: .3s ease-in-out all;
}